<div ng-app="app">
{{ 1 + 1 }}
<div ng-controller="productsCtrl">
    <h4>Number of products: {{ numberOfProducts() }}</h4>
    <label>Product Name:</label>
    <input ng-model="newProductName">
    <label>Price:</label>
    <input type="textarea" ng-model="newProductPrice">
    <label>Photo:</label>
    <input type="textarea" ng-model="newProductPhoto">
    <button ng-click="addProduct(newProductName, newProductPrice, newProductPhoto)">Add Product</button>
    <div ng-repeat="product in products">
      <h3 ng-click="toggleVisible(product)">{{ product.name }}</h3>
      <p ng-if="product.priceVisible">{{ product.price }}</p>
      <a href="#" ng-click="deleteProduct($index)">Delete</a>
    </div>

</div>