<div class="container">
  <div class = "row">
    <div class="col-md-9">
      <div class = 'templogo'>
        <a href = "/"><img src='/assets/franchise_store_logo_w-cows.jpg' style='width:300px;height:60px;'></a><h3>Home Treat Delivery</h3>
      </div>
    </div>
  </div>
  <%= render 'price_display' %>
  <div class = 'tempproducts'> 
    <% @containers.each do |container| %>      
        <%= form_tag carted_product_path(@carted_product.id), :method => :patch do %>
        <%= hidden_field_tag :container_id, container.id %>
        <%= submit_tag container.name %>      
      <% end %>
    <% end %>
  </div>
</div>