<div class = 'container'>
  <div class = "row">
    <div class="col-md-9">
      <div class = 'tempproducts'> 
<h1>Instructions</h1>
<h2>Please add the quantity of the items you would like in the appropriate corresponding product box and then press add to cart.</h2>
<h3>Your order will show up on the left side of  the page for your review.<br>Once you have completed your order, press "complete order" underneath the order display on the left and enter your form of payment.</h3><br><h4>Once your payment has been approved it will be sent to a delivery system for delivery within 30 minutes.</h4><br><h2>Thank you for using the Oberweis online ordering system!</h2>
<button><%= link_to 'Back to Products', products_path %></button>
      </div>
    </div>
  </div>
</div>
