<a href = "http://www.oberweis.com"><img src='/assets/franchise_store_logo_w-cows.jpg'style='width:300px;height:60px;'></a><h3>Home Treat Delivery</h3>
<div class= 'container-fluid'>

  <div class= 'thanks'><h1>Thank you for your purchase, a confirmation email will be sent to you shortly.<br> Your order will be delivered to you <strong>VIA DRONE</strong> technology within 30 minutes</h1>
  <h1> You order total is : $<%= @order.total %></h1>
  </div>
<h2><%= link_to "Do more shopping?", products_path %></h2>
</div>