<div class = "row">
  <div class="col-md-3">
    <div class = 'temptotal'>
      <h1>Your Order:</h1><br>
        <table class="table">
          <tr>
            <th>Product</th>
            <th></th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>

            <tr ng-repeat="cartedProduct in cartedProducts" ng-click="updateCartedProduct(cartedProduct)" data-toggle="modal" data-target=".bs-example-modal-sm"> 
              <div class="display">
              <td>{{ cartedProduct.name }}<br>({{cartedProduct.flavor}})</td></div>
              <td></td>
              <td>{{ cartedProduct.quantity }}</td>
              <td>{{ cartedProduct.price | currency }}</td>
              
            </tr>
          </table>
        <table class="table">
            <th>Your Sub Total:</th>
            <td>{{ subtotal() | currency }}<br></td>
            <th>Sales Tax</th>
            <td>{{ salesTax() | currency }}<br></td>
            <th>Total</th>
            <td>{{ total() | currency }}<br></td>
        </table>
            <%= form_for @order do |f| %>
              <%= f.submit "Complete Purchase" %>
            <% end %> 
  </div>
            <div>
              <div class = "row">
                <div class="col-md-3">
                  <div class = 'temptotal'>
                    <% @carted_products.each do |carted_product| %>
                      <%= image_tag carted_product.product.photo, :width => "40", :height => "45" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
</div>