<div class="container-fluid">
  <div class = "row">
    <div class="col-md-9">
      <div class = 'templogo'>
        <a href = "http://www.oberweis.com"><img src='/assets/franchise_store_logo_w-cows.jpg' style='width:300px;height:60px;'></a><h3>Home Treat Delivery</h3>
      </div>
    </div>
  </div>
  <%= render 'price_display' %>
  <div class = 'tempproducts'> 
    <div class="container-fluid">
      <h3>Please make a selection:</h3>
        <% @available_flavors.each do |flavor| %>
            <%= form_tag carted_product_path(@carted_product.id), :method => :patch do %><br>
            <%= hidden_field_tag :flavor_id, flavor.id %>
            <%= submit_tag flavor.name %>     
          <% end %>
        <% end %>   
  </div>
</div>