<div ng-app="app">
  <div ng-controller="driversCtrl">
    {{1+1}}
    <div class= 'container-fluid'>
      <a href = "http://www.oberweis.com"><img src='/assets/franchise_store_logo_w-cows.jpg'style='width:300px;height:60px;'>
    </div>
  </div>
</div>