@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background-image: url("red_stripes_3.png");
}

.tempproducts{
    float: right; 
    top: 15px;  
    width: 61%;
    background: #ffffff;
    border-radius: 15px;
    border: 4px solid #0c0c12;
    text-align: center;
}
.templogo{
    float: left;   
    top: 73px;
    width: 1154px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #0c0c12;
}
.temptotal{
    float: left;    
    top: 238px;
    width: 440px;
    background: #d3cec9;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #0c0c12;
    color: black;
}
.navigation{
  position: relative;
}
.thanks{
    color: white;
}
.flavors{
    border-radius: 5px;
    text-align: center;
    border: 2px solid #0c0c12;
    background: #a41521;
}
#strawberry{
    background: pink;
    color: red;
}
#chocolate{
    background: #422603;
    color: white;
}
#vanilla{
    background: white;
}
#pineapple{
    background: yellow;
}
#peanut-butter{
    background: #977254;
    color: white;
}
#Heath{
    background: #977254;
    color: white;
}
#Oreo{
    background: #34292D;
    color: white;   
}
#Snicker{
    background: #1E214C;
    color: white;
}
#Cookie-Dough{
    background: #fbe5b6;
    color: black;
}
#Reeses-PB-Cups{
    background: #f14a1d;
    color: white;
}
#M+M{
    background: #008B44;
    color: white;
}
.form-inputs{

    float: left;
    width: 250px;
}

