// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.amount {
  color: black;
  margin-left: 40px;
  width: 1154px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #0c0c12;
}
.button {
  margin-left: 520px;
}