// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
.ng-repeat{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
#flavorDisplay:hover{
    cursor: pointer;
    -webkit-animation: flash 1s;
  -moz-animation: flash 1s;
  -o-animation: flash 1s;
  animation: flash 1s;
}
#productDisplay:hover{
    cursor: pointer;
    -webkit-animation: flip 1s;
  -moz-animation: flip 1s;
  -o-animation: flip 1s;
  animation: flip 1s;
}
.treatlogo {
  border: 7px solid white;
  width: 1158px;
  border-radius: 45px;
}
.treatlogoDevise {
  float: right;
  border: 7px solid white;
  width: 970px;
  border-radius: 45px;
}
