<div ng-app="app">
  <div ng-controller="productsCtrl">             
    <div class="container" ng-init="currentUserId = <%= current_user.id %>">
      <div class = "row">
        <div class="col-md-9">
          <div class ='treatlogo'>
            <a><a href = "/"><img src='assets/treat-delivery-banner.gif' style='width:1137px;height:285px;'></a>
          </div>
        </div>
      </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div ng-repeat="flavor in flavors" ng-click="updateFlavor(flavor)" data-dismiss="modal">
            <div id="flavorDisplay" >
              <div class="flavors">
                <div id="{{flavor.name}}">{{ flavor.name | uppercase }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'carted_products/price_display' %>
    <div class='tempproducts'>
      <div ng-repeat="product in products">
        <div class="col-md-3">
          <div class="thumb" ng-click="addToCart(product)" data-toggle="modal" data-target=".bs-example-modal-sm"> 
              <h4>{{product.name}}</h4>
              <h4>{{product.price}}</h4>
            <div id="productDisplay" >
              <img ng-src="assets/{{product.photo}}" height="135" width="100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>