<div class="container">
  <!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">
      <div class="col-md-3">
        <div class="thumb">
        <h1>Please make your selections!</h1> 
       <table class= "table">   
          <% @products.each do |product| %> 
          <a href="<%=product.id%>" ><%= product.name %>$<%= product.price %><%= image_tag product.photo, :width => "100", :height => "135" %></a>
          </tr>
        </table>
          <% end %>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
    </div>


  
















</div>