<div class='amount'>
  <h2>Thanks, your payment has been approved!</h2>
  <h2><%= link_to "Click here if you'd like to place another order?", products_path %></h2>
  <img src='http://www.oberweis.com/web/enews/treat-delivery-banner.gif'style='width:500px;height:160px;'>
</div>
